main {
    height: 100vh;
    width: 100%;
    font-family: "Roboto", sans-serif; 
    background: url('../image/fundo.jpg') repeat;
    background-size: contain;
    padding: 1.2rem 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-campo-texto{
    color: #FFF;
    & h1{
        font-weight: 900;
        font-size: 2rem;
        text-transform: uppercase;
        padding-bottom: 11px;
    }

    & p{
        font-weight: 400;
        font-size: 1.5rem;
    }
}

.container-formulario{
    background-color: #FFF;
    padding: 2rem;
    height: 100%;
}

.container-formulario .formulario input[type=text], input[type=text], input[type=tel], textarea[type=text], input[type=submit], .aviso-de-campos-obrigatorios{
    font-family: "Roboto", sans-serif;
    width: 100%;
    resize: none;
}

.container-formulario .formulario .input-nome, .input-email, .input-telefone, .input-mensagem, .input-submit{
    margin: 0 7px;
    padding: 8px;
    font-weight: 700;
    font-size: 15px;
}